@import "bootstrap";

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
h4 {
  line-height:40px;
}
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
 
  &:hover {
      color: $grayDarker;
    background-color: transparent;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
/* bootstrap override for branding */
.navbar-inverse .navbar-inner {
background-color: #f5af00;
  background-image: -moz-linear-gradient(top, #f5af00, #f5af00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5af00), to(#f5af00));
  background-image: -webkit-linear-gradient(top, #f5af00, #f5af00);
  background-image: -o-linear-gradient(top, #f5af00, #f5af00);
  background-image: linear-gradient(to bottom, #f5af00, #f5af00);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5af00', endColorstr='#f5af00', GradientType=0);
  border-color: #252525;
}
.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}