<h4>Welcome, <%= current_user.name %>!</h4>
<p>ELECSociety Portal is a web hub for students studying Electrical Engineering at USYD. Since our common room was brutally shut down last year we have had to relocate to the free and open interwebs - feel free to browse, meet other students and earn some points while you're at it. </p>