<h4 align="center">You have <%= pluralize(current_user.points, "point") %>!</h4>

<p align="center"><%= link_to 'What is this?', points_whats_this_path ,class:"btn"%></p>
<p align="center"><%= link_to 'Redeem points', redeempoints_path,class:"btn" %></p>