<h4>ELECPortal Points System</h4>
<p>The points system is designed to encourage students to use the portal regularly and interact with the student community. 
	Points are earned by logging in and can be redeemed at any campus store before the end of semester.</p>
<p><%= link_to 'Back', portal_home_path %></p>

<br />