<h1>Settings</h1>

<table width="100%">
  <tr width-"100%">
	<td width="25%" valign="top">
			<p>Forum</p>
			<p>Blogs</p>
			<p><%= link_to 'Settings', settings_path %></p>
	</td>
	<td width="75%">
		<%= render 'settingsform' %>
	</td>
  </tr>
</table>

<br />
