<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>To <%= @user.name %></h1>
    <p>
      Attached is a coupon from ELECPortal for points redeemable as chosen by you.<br/>
    </p>
    <p>
      To use the coupon, simply print it off at redeem at any campus store.
    </p>
    <p>Enjoy!</p>
  </body>
</html>