<footer class="footer">
  <small>
  <% if current_user %>
    Logged in as <%= link_to current_user.name, user_url(current_user) %>.
    <%= link_to "Log out", signout_path %>
  <% else %>
    <%= link_to "Sign up", signup_path %> or
    <%= link_to "Log in", signin_path %>
  <% end %>
  </small>
  <nav>
    <ul>
   <p class="text-right" style="font-size: .95em; font: normal 10px Arial,Helvetica,sans-serif; text-align: right;
color: #333;line-height: 130%;">© 2002-2013 The University of Sydney. Last updated: 25-Oct-2013<br/>
ABN: 15 211 513 464. CRICOS number: 00026A. Phone: +61 2 9351 2222.<br/>
Maintained by: Max Rozen, Emily Schulz, Mitchell Marks.</p>

    
    <p style="color: #125687;font-size: .95em;font: normal 10px Arial,Helvetica,sans-serif; text-align:right" class="text-right">
      <a style="text-decoration: underline;" href="http://www.sydney.edu.au/contact.shtml">Contact the University</a> | 
      <a style="text-decoration: underline;" href="http://www.sydney.edu.au/disclaimer.shtml">Disclaimer</a> | 
      <a style="text-decoration: underline;" href="http://www.sydney.edu.au/privacy.shtml">Privacy</a> | 
      <a style="text-decoration: underline;" href="http://www.sydney.edu.au/accessibility.shtml">Accessibility</a>
    </p>
  </nav>
</footer>